

.profilemaindiv{
    padding-inline: 50px;
}

.profileicon{
    text-align: end;
    margin-top: 10px;
}


.profileiconworld{
    color: var(--darkGray);
    margin-right: 15px;
    font-size: 18px;
    opacity: 0.6;
}

.profilecontentmaindiv{
    padding-top: 80px;
    padding-inline: 80px;
}

.profilecontentmaindiv a{
    
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 14px;
    color: var(--blackColor);
    text-decoration: none;
}

.profilecontentmaindiv h3{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    font-size: 28px;
    color: var(--blackColor);
    padding-top: 30px;
    font-style: normal;

}

.profilecontentmaindiv p{
        
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    font-weight: 400;
    font-size: 13px;
    color: var(--blackColor);
    opacity: 0.6;
}


.smallandinputmaindiv {
    display: flex;
    flex-direction: column;
    position: relative; /* Added */
    margin-top: 40px;
  }
  
  .smallandinputmaindiv small {
    position: absolute; /* Added */
    top: -12px; /* Adjust the value as needed */
    font-family: 'Montserrat',  'sans-serif';
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    background-color: #fff;
  }
  
  .smallandinputmaindiv input {
    border: 1px solid #CFCFCF;
    border-radius: 7px;
    padding: 12px;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    color: #CFCFCF;
    padding-left: 20px;

  }
  
  .smallandinputmaindiv select{
    border: 1px solid #CFCFCF;
    border-radius: 7px;
    padding: 12px;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    color: #CFCFCF;
    padding-left: 20px;
  }

  .smallandinputmaindiv option{
    color: var(--blackColor);
 
  }


  .smallandinputmaindiv input::placeholder{
    font-size: 14px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    color: #CFCFCF;
  }


  /* profilebtn1 */

  .profilebtn1{
    text-align: center;
    padding-top: 30px;
  }

  .profilebtn1 button{
    background: var(--bluecolor);
    border-radius: 7px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
    font-size: 14px;
    color: #fff;

  }

  .profiledivlastlinecopyright{
    padding-top: 30px;
  }

  /* media queries */

  @media screen and (max-width:2000px) {

    .profilecontentmaindiv{

        padding-top: 150px;
        padding-inline: 200px;
    }
    .profiledivlastlinecopyright{
        margin-top: 50px;
      }

}

@media screen and (max-width:1500px) {

    .profilecontentmaindiv{

        padding-top: 130px;
        padding-inline: 120px;
    }
    .profiledivlastlinecopyright{
        margin-top: 50px;
      }

}

@media screen and (max-width:1400px) {

    .profilecontentmaindiv{

        padding-top: 80px;
        padding-inline: 80px;
    }
    .profiledivlastlinecopyright{
        margin-top: 10px;
      }

}

@media screen and (max-width:1250px) {

    .profilecontentmaindiv{

        padding-top: 80px;
        padding-inline: 60px;
    }
    .profiledivlastlinecopyright{
        margin-top: 10px;
      }

}

@media screen and (max-width:1100px) {

    .profilecontentmaindiv{

        padding-top: 80px;
        padding-inline: 40px;
    }
    .profiledivlastlinecopyright{
        margin-top: 10px;
      }

}

@media screen and (max-width:500px) {

    .profilecontentmaindiv{
     
        padding-top: 80px;
        padding-inline: 0px;
    }
    .profiledivlastlinecopyright{
        margin-top: 10px;
      }
      .profilemaindiv{
        padding-inline: 20px;
      }
  

}

@media screen and (max-width:400px) {

    .profilecontentmaindiv{
     
        padding-top: 80px;
        padding-inline: 0px;
    }
    .profiledivlastlinecopyright{
        margin-top: 10px;
      }
      .profilemaindiv{
        padding-inline: 20px;
      }
}