.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.sidebar {
  width: 240px;
  background-color: #1a1919;
  color: white;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* border-bottom: 1px solid #333; */
}

.logo img {
  height: 100px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  line-height: 5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #ccc;
  padding: 10px 20px;
  text-decoration: none;
  transition: background 0.3s ease;
  font-size: 14px;
}

.nav-item:hover {
  background-color: #333;
  color: #fff;
}

.main-content {
  flex: 1;
  padding: 30px;
}
