.mainaboutdiv {
  padding: 5rem 2rem;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #2c3e50;
  font-weight: 700;
}

.section-description {
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
  color: #555;
}

.aboutus-image-wrapper img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.aboutusmainsecdiv {
  background: rgba(170, 145, 102, 0.14);
  padding: 5rem 2rem;
  margin-block: 5rem;
}

.aboutmanpicdiv img {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }

  .section-description {
    font-size: 1rem;
  }
}


.rules-section {
  background-color: #f9f9f9;
  padding: 5rem 2rem;
}

.rules-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

.rules-list {
  list-style-type: disc;
  padding-left: 2rem;
  padding-top: 4rem;
  font-size: 1.6rem;
  line-height: 3.5rem;
  color: #333;
}

.rules-list li {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .rules-list {
    font-size: 1rem;
    line-height: 2rem;
  }
}
