

.cameraicon{
    color: var(--bluecolor);
    height:40px;
    width: 40px;
    margin-top: 0px;

}

.uploadfile {
    width: 150px;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: border-color 0.3s ease;
  }
  
  .uploadfile.image-uploaded {
    border-color: var(--bluecolor); /* Green border after upload */
  }
  
  .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .cameraicon {
    font-size: 32px;
    color: #aaa;
  }
  

.backandfinishbuttondiv{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.backbtn button{
    padding: 8px 60px;
    outline: none;
    border: none;
    background: rgba(52, 168, 83, 0.1);
    border-radius: 6px;
    color: var(--bluecolor);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.finishbtn button{
    padding: 8px 60px;
    outline: none;
    border: none;
    background: rgba(52, 168, 83, 0.1);
    border-radius: 6px;
    background: var(--bluecolor);
    color : #fff;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.profile2copyright{
    margin-top: 50px;
}